{%extends 'basic_app/base.html'%}

{% load static %}

{% block body_block%}

<div class="jumbotron">

    {% if registered %}
        <h1>Thank you for registering.</h1>
    {%else%}
        <h1>Register here!</h1>
        <h3>Fill out the form</h3>
        <p></p>
        <form method="post" enctype="multipart/form-data">

          {%csrf_token%}
          {{ userFormreg.as_p }}
          {{ profileFormreg.as_p }}

          <input type="submit" name="" value="Register">
        </form>

    {%endif%}

</div>

{%endblock%}
